<h1>Welcome to Users Index.</h1>

<% @users.each do |user| %>
    <div>
        Alias: <%= user.alias %> <br>
        Full name: <%=  user.first_name + " " + user.last_name %>
    </div>
    <br>
<% end %>