/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter/bootstrap
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 .content {
    position: absolute;
    left: 0;
    width: 100%;
    top: 102px;
    height: 100%;
    background-position: 50% 0;
    background: url('grim-sf.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
}

.vault {
	background: url('vault.jpg');
	background-size: cover;
}

.city-bg-1 {
	background: url('grim-sf.jpg');
	background-size: cover;
}

.city-bg-2 {
	background: url('bigbenblur.jpg');
	background-size: cover;
}

.city-bg-3 {
	background: url('moscow1.jpg');
	background-size: cover;
}

.city-bg-4 {
	background: url('tokyo2.jpg');
	background-size: cover;
}

.city-bg-5 {
	background: url('nytaxiblur.jpg');
	background-size: cover;
}

body {
	color: gray;
	text-align: center;
}

.info {
	color: lightgray;
}

h1 {
	color: whitesmoke;
	padding-top: 30px;
	margin-top: 0px;
}

h3 {
	color: whitesmoke;
}

.flash-error {
    color: white;
}

#button1{
        color :green;
}

.textarea {
	height: 400px;
}




 