Passcode, Please

<%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    <%= f.text_field :alias, placeholder: "Alias" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Combination"%>
  </div>
  <%= f.submit "Enter The Vault" %>
<% end %> 