<div class="my-container">
		
	<h1>The VAULT.</h1>
	<h3>Passcode, Please</h3> 

		<div class="form-group">

			<%= form_for @user, url: "/sessions", method: "post" do |f| %>
			  <div>
			    <%= f.text_field :alias, placeholder: "Alias" %>
			  </div>
			  <div>
			    <%= f.password_field :password, placeholder: "Combination"%>
			  </div>
			  <%= f.submit "Enter" %>
			<% end %> 

		</div>
</div>