<div class = "content city-bg-<%= @city.id %>">
	
	<div class = "col-xs-4 col-xs-offset-4"><br>
		<div>
		  <h2><%= @city.name %></h2>
		</div><br>


	<% @city.events.order(:event_date).each do |event| %>
	    <div>
	    	<p id= "event-link"><%= link_to event.title, event_path(event) %></p>
	    </div>
	<%end%><br>

	<%= link_to "All Cities", cities_path, class:"btn btn-lg btn-danger" %>
	</div>
</div>


