<div class = "content">
	<% @cities.each do |city| %>
	    <div class = "col-xs-4 col-xs-offset-4">
	      <h3><%= link_to city.name, city_path(city) %><h3>
	      <% city.events.order(:event_date).each do |event| %>
	        <h5 class ="text-left col-xs-offset-2"><%= link_to event.title, event_path(event) %></h5>
	      <%end%>
	    </div><br> 
	<%end%>
</div>

