<!-- Second navbar for profile settings -->
	    <nav class="navbar navbar-inverse">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" id="vault" href="/">The VAULT</a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">

						<!--Dropdown for cities -->
						<% if current_user %>
					  <li class="dropdown">
			       <a class = "dropdown-toggle disabled" href="/cities" class="dropdown-toggle" data-toggle="dropdown">Cities</a>
			       
			       <ul class="dropdown-menu">
			       <li><a href="/cities/san-francisco">San Francisco </a></li>
			        <li><a href="/cities/london">London </a></li>
			        <li><a href="/cities/moscow">Moscow </a></li>
			        <li><a href="/cities/tokyo">Tokyo </a></li>
			        <li><a href="/cities/new-york">New York </a></li>
			       </ul>
			          </li>
			          <% end %>

			        <% if current_user %>
			        <li><%= link_to "Events", events_path %></li>
			        <% end %>

					<!-- User will be directed to Post form here -->
					<% if current_user %>
					<li><%= link_to "Create Event", new_event_path %></li>
						<% end %>
        	

            <% if current_user %> 
             <li> <%= link_to "Profile", user_path(current_user), class: "profile" %></li>
            <% end %>

            <% if !current_user %> 
								<li><a href="/users/new">Sign Up</a></li>
					 <% end %>

					<% if current_user %>
						<li><%= link_to "Log out",  logout_path, method: "destroy" %> </li>
							<% else %>
							<li><a href="/login">Log In</a></li>
							<% end %>


 						</ul>
           
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->